<table width="100%" border="0" align="left">
  <tr>
  <td>
  
  <h1>Rankings</h1>

<%= link_to 'Add New Ranking', :action => 'new' %><br/>
</td>
</tr>
  <tr>
  <td>
<table width="88%" border="1" align="left">
  <tr>
    <th align="center">Season</th>
    <th align="center">Week</th>
    <th align="center">Rank</th>
    <th align="center">Team</th>
    <th align="center">Record</th>
    <th colspan="3">&nbsp;</th>
  </tr>
  
<% for rank in @ranks %>
  <tr>
    <td align="center"><%=h rank.send('season') %></td>
    <td align="center"><%=h rank.send('wk') %></td>
    <td align="center"><%=h rank.send('rank') %></td>
    <td align="center"><%= link_to rank.team.school_nm + ' ' + rank.team.team_nm, {:controller => 'teams', :action => 'show', :id => rank.team}, {:target => "_parent"}  %></td>
    <td align="center"><%= rank.team.send('getRecord').html_safe %></td>
    <td align="center"><%= link_to 'Show', :action => 'show', :id => rank %></td>
    <td align="center"><%= link_to 'Change', :action => 'edit', :id => rank %></td>
    <td align="center"><a href="/ranks/<%=rank.id%>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a></td>
  </tr>
<% end %>
</table>
</td>
</tr>
  <tr>
  <td>
<%= link_to 'Add New Ranking', :action => 'new' %>
</td>
</tr>
</table>