<%= form_for(@game) do |f| %>  
  	<%= render "shared/error_messages", :target => @game %> 
<!--[form:game]-->
<table border="1" width="75%" align="center">
  <tr>
    <th align="center">Season</th>
    <th align="center">Week</th>
    <th align="center">Away Team</th>
    <th align="center">Away Score</th>
    <th align="center">Home Team</th>
    <th align="center">Home Score</th>
  </tr>
    <td align="center"><%= text_field 'game', 'season', 'size' => "5", 'maxsize' => "4" %></td>
    <td align="center"><%= text_field 'game', 'wk', 'size' => "3", 'maxsize' => "2" %></td>
    <td align="center"><%= select("game", "away_team_id", @teams.collect{|t| [t.school_nm, t.team_id] }) %></td>
    <td align="center"><%= text_field 'game', 'away_score'  %></td>
    <td align="center"><%= select("game", "home_team_id", @teams.collect{|t| [t.school_nm, t.team_id] }) %></td>
    <td align="center"><%= text_field 'game', 'home_score'  %></td>
  </tr>
</table>
<!--[eoform:game]-->

<% end %>  